
body{
    /* font-family: 'Spock Pro'; */
    font-family: poppins;
}

.first-div{
    width: 50%;
    height: 100vh;

}
.first-div .box{
    width: 100%;
    height: 600px;
}
.first-div .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left  bottom 250px !important;
}
.last-div{
    width: 50%;
    height: 100vh;
}
.error{
    outline: none;
    border: 1px solid red;
}
.border-black{
    border: 1px solid black;
}


/* Details Pages Css */
.Doctors{
    width: 50%;
    height: 100vh;
}
.madication{
    width: 50%;
    height: 100vh;
}
.ms-custom{
    margin-left: 12rem !important;
}
.effect{
    color: red;
}